.hide-desktop
  display: none

  @media (max-width: 1024px)
    display: block !important

.hide-mobile
  display: block

  @media (max-width: 1024px)
    display: none !important

.totvs-logo
  width: 218px
  display: inline-block
  
  img
    width: 100%

.highlight
  color: map-get($colors, cerulean)