#optional-module
  background-color: map-get($colors, satin_linen)

  .container
    display: flex
    align-items: center
    position: relative
    z-index: 2

    .image
      width: 19.5vw
      max-width: 374px
      padding: 9.5vh 0
      margin-right: 4.9vw
      position: relative

      &:before
        content: ''
        width: 50vw
        height: 100%
        background-color: map-get($colors, cerulean)
        display: block
        position: absolute
        top: 0
        right: 38%
        transform: skew(-30deg)
        pointer-events: none
        z-index: 1

      > img
        +round
        position: relative
        z-index: 10
        

    .info
      width: 55.2vw
      max-width: 1080px  

      h2
        color: map-get($colors, cerulean)

      p
        line-height: 1.4
        color: map-get($colors, masala)

  // .container
// #optional-module




@media (max-width: 1023px)
  #optional-module
    margin-bottom: -10vh

    .container
      flex-direction: column
      align-items: center
      justify-content: center
      position: relative
      z-index: 2
      transform: translateY(-12.7vh)

      .image
        width: 33.33vw
        padding: 0
        margin-right: 0
        margin-bottom: 4.88vh
        position: static
        
        &:before
          display: none
      
      .info
        width: 100%
        text-align: center

        h2
          margin-bottom: 15px
        
        p
          margin-bottom: 20px
          line-height: 1.4
          color: map-get($colors, masala)

    // .container
  // #optional-module
// media (max-width: 1023px)




@media (max-width: 767px)
  #optional-module
    margin-bottom: -78px

    .container
      flex-direction: column
      align-items: center
      justify-content: center
      position: relative
      z-index: 2
      transform: translateY(-78px)

      .image
        width: 156px
    // .container
  // #optional-module
// media (max-width: 767px)