#topics
  .title-wrapper
    width: 100%
    background: transparent url('../../img/layout/bg-header-topics.jpg') center top /cover no-repeat
    padding: 14.94vh 0 7.6vh

  .topics-list
    position: relative
    background-color: map-get($colors, westar)
    overflow: hidden

    .container
      padding: 4.24vh 20px
      position: static
      
      &:before, 
      &:after
        content: ''
        display: block
        position: absolute
        z-index: 1

      &:before
        width: 0
        height: 0
        border-style: solid
        border-width: 33.15vh 7.6vw 0 0px
        border-color: map-get($colors, pampas) transparent transparent transparent
        top: 0
        left: 0
        transform: translateX(calc(-100% + 7.5vw)) 

      &:after
        width: 0
        height: 0
        border-style: solid
        border-width: 33.15vh 7.6vw 0 0px
        border-color: map-get($colors, pampas) transparent transparent transparent
        bottom: -1px
        right: 0
        transform: translateX(calc(100% - 7.5vw)) rotate(180deg)

      > ul
        width: 100%
        position: relative
        z-index: 2
        display: flex
        justify-content: space-between

        li 
          +shadow

          width: calc(33.33% - 3.125vw)
          background-color: map-get($colors, pampas)
          border-radius: 10px
          padding: 5.82vh 2.19vw
          
          .top
            text-align: center

            .date
              width: 100%
              margin-bottom: 20px
              display: flex
              flex-direction: column
              align-items: center
              text-align: center
              line-height: 1.4
              color: map-get($colors, granite_green)
              text-transform: uppercase
              font-weight: 900

              .highlight
                font-size: 1.2rem
                text-align: center
            // .date

            .title
              width: 100%
              height: 21.72vh
              display: flex
              align-items: center
              text-align: center

              > span
                color: map-get($colors, masala)
                font-weight: 900
                line-height: 1.2
                font-size: 1.2667rem
            // .title

            .to-top
              display: flex
              align-items: center
              justify-content: center
              width: 14.1vw
              height: 8.05vh
              border: 1px solid map-get($colors, cerulean)
              margin: 20px auto 40px
              background-color: map-get($colors, cerulean)
              color: #fff
              text-transform: uppercase
              font-weight: 900
              border-radius: 4.025vh
              transition: all .3s ease

              &:hover
                background-color: #fff
                color: map-get($colors, cerulean)
            // .to-top
          // .top

          .about
            width: 100%
            padding: 3.7vh 0
            border-top: 8px solid map-get($colors, moon_mist)
            border-bottom: 8px solid map-get($colors, moon_mist)
            margin-bottom: 4.24vh

            > dl 
              text-align: center
              font-size: .8667rem
              line-height: 1.4

              dt
                color: map-get($colors, cerulean)
                text-transform: uppercase
                margin-bottom: 10px
                font-weight: 900

              dd
                color: map-get($colors, dune)
          // .about

          .speaker-data
            width: 100%
            text-align: center
            font-size: 0.833rem

            > dl
              dt
                color: map-get($colors, cerulean)
                text-transform: uppercase
                margin-bottom: 10px
                font-weight: 900

              dd
                color: map-get($colors, dune)
          // .speaker-data
        // li
      // > ul
    // .container
  // .topics-list
// #topics





@media (max-width: 1023px)
  #topics
    .title-wrapper
      background: none
      padding: 14.94vh 0 3.9vh

      h2
        text-align: center

    .topics-list
      
      .container
        padding: 4.24vh 12.62vw
        position: relative
        
        &:before, 
        &:after
          content: ''
          display: block
          position: absolute
          z-index: 1

        &:before
          width: 0
          height: 0
          border-style: solid
          border-width: 21vh 13.15vw 0 0px
          border-color: map-get($colors, pampas) transparent transparent transparent
          top: 0
          left: 0
          transform: translateX(0)

        &:after
          width: 0
          height: 0
          border-style: solid
          border-width: 21vh 13.15vw 0 0px
          border-color: map-get($colors, pampas) transparent transparent transparent
          bottom: -1px
          right: 0
          transform: translateX(0) rotate(180deg)

        > ul
          flex-direction: column
          justify-content: flex-start
          align-items: center

          li 
            width: 100%
            padding: 4vh 6.9vw
            margin-bottom: 3.9vh

            &:last-child
              margin-bottom: 0
            
            .top
              .title
                height: auto
              
              .to-top
                width: 30.47vw
                max-width: 234px
                height: 53px
                background-color: map-get($colors, cerulean)
                color: #fff

                &:hover
                  background-color: map-get($colors, cerulean)
                  color: #fff
              // .to-top
            // .top

            .about
              padding: 2.93vh 0
              border-top-width: 5px
              border-bottom-width: 5px
            // .about
          // li
        // > ul
      // .container
    // .topics-list
  // #topics
// media (max-width: 1023px)


  

  
@media (max-width: 767px)
  #topics
    .title-wrapper
      background: none map-get($colors, pampas)
      padding: 7vh 0 3.9vh

      h2
        text-align: center

    .topics-list
      .container
        padding: 4.24vh 15px
        position: relative
        
        &:before, 
        &:after
          content: ''
          display: block
          position: absolute
          z-index: 1

        &:before
          transform: translateX(-30px)

        &:after
          transform: translateX(36px) rotate(180deg)

        > ul
          flex-direction: column
          justify-content: flex-start
          align-items: center

          li 
            width: 100%
            padding: 4vh 6.9vw
            margin-bottom: 3.9vh

            &:last-child
              margin-bottom: 0
            
            .top
              .to-top
                width: 100%
                
            .about
              padding: 2.93vh 0
              border-top-width: 5px
              border-bottom-width: 5px
            // .about
          // li
        // > ul
      // .container
    // .topics-list
  // #topics
// media (max-width: 767px)